// Navigation Styles here

nav {
    .flex(space-between, center);
    position: relative;

    p{

        font-size: 4.5rem;
    }

    div {
        .flex(space-around, center);
        width: 50%;


        a {
            font-size: @paragraph;
            text-decoration: none;

            &:hover {
                color: tint(@silver, 30%); 
            }
        }
    }
}

nav::after {
    content:'';
    margin: 0 -160px;
    position: absolute;
    border: 2px dashed @silver;
    width: 140%;
    bottom: 0;
    left: 0;
}